<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h4>Pacientes Registrados</h4>
  </div>
  <table class="table table-striped table-borderless text-center align-middle">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="align-middle">No.</th>
        <th scope="col" class="align-middle">Nombre completo</th>
        <th scope="col" class="align-middle">Sexo</th>
        <th scope="col" class="align-middle">Edad aparente</th>
        <th scope="col" class="align-middle">Fecha y hora de registro</th>
        <th scope="col" class="align-middle">Status</th>
        <th scope="col" class="align-middle">Señas particulares</th>
        <th scope="col" class="align-middle">Notas breves</th>
        <th scope="col" class="align-middle">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <strong>{{ patient.name }} {{ patient.lastName }} {{ patient.secondLastName }}</strong><br>
        </td>
        <td>{{ patient.gender }}</td>
        <td>{{ patient.approximateAge }} años</td>
        <td>{{ patient.registrationDateTime | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ patient.active | status }}</td>
        <td>{{ patient.distinctiveFeatures }}</td>
        <td>{{ patient.additionalNotes }}</td>
        <td>
          <div class="m-1">
            <button class="btn btn-secondary w-100" (click)="updatePatient(patient)">Actualizar</button>
          </div>
         <!--  <div class="m-1">
            <button class="btn btn-danger w-100" (click)="deletePatient(patient.id)">Eliminar</button>
          </div> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>