<div class=" bg-light" style="width: 100%; height: 100%;">
    <div class="order-dark bg-white d-flex flex-column justify-content-center py-3">
        <div class="d-flex align-items-center mb-4">
            <i class="material-icons text-black mr-2 px-3" routerLink="/dashboard/solicitudes" style="cursor: pointer;">arrow_back</i>
            <h2 class="text-black mb-0 ">Detalles de la solicitud</h2>
        </div>
    </div>
    <div class="m-5" *ngIf="solicitud">
      <h4>Información principal</h4>
      <p>En esta sección podrás observar información relevante sobre una solicitud específica de un paciente.</p>
      <form class="bg-white px-5 py-4 rounded">
        <div class="row mb-3">
          <div class="col">
            <label>Nombre del interesado</label>
            <input type="text" class="form-control" [value]="solicitud.interestedPersonName" disabled>
          </div>
          <div class="col">
            <label>Nombre de la persona desaparecida</label>
            <input type="text" class="form-control" [value]="solicitud.missingPersonName" disabled>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Relación</label>
            <input type="text" class="form-control" [value]="solicitud.relationship" disabled>
          </div>
          <div class="col">
            <label>Número de teléfono</label>
            <input type="text" class="form-control" [value]="solicitud.phoneNumber" disabled>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label>Correo electrónico</label>
            <input type="email" class="form-control" [value]="solicitud.email" disabled>
          </div>
          <div class="col">
            <label>Fecha y hora de la solicitud</label>
            <input type="text" class="form-control" [value]="solicitud.requestDateTime | date:'yyyy-MM-dd HH:mm'" disabled>
          </div>
        </div>
        <div class="row mb-3">
            <div class="col">
              <label>Estado</label>
              <select class="form-select" [(ngModel)]="solicitud.status" name="status" [ngStyle]="{'color': getStatusColor(solicitud.status)}">
                <option value="NO_ENCONTRADA">No encontrado</option>
                <option value="NUEVA">Nueva</option>
                <option value="ENCONTRADA">Encontrado</option>
                <option value="EN_REVISION">En revisión</option>
              </select>
            </div>
            <div class="col">
              <label>Usuario atendiendo</label>
              <input type="text" class="form-control" [value]="solicitud.attendingUser || 'No asignado'" disabled>
            </div>
          </div>
        <div class="form-group">
          <label>Mensaje</label>
          <textarea class="form-control" rows="3" disabled>{{solicitud.message}}</textarea>
        </div>
      </form>
      <p>Por favor, recuerda actualizar el estado de la solicitud una vez haya sido atendida.</p>
      <div *ngIf="updateMessage" class="alert" [ngClass]="{'alert-success': updateMessage.includes('éxito'), 'alert-danger': updateMessage.includes('Error')}">
        {{ updateMessage }}
      </div>
      <div class="d-flex justify-content-between align-items-center py-2">
        <div class="flex-grow-1"></div>
        <div>
          <button type="button" class="btn btn-primary" (click)="updateStatus()">Actualizar</button>
        </div>
      </div>    
  </div>

  