/* Imagen columna izquierda */
.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1F89EA;
}

/* Propiedades del logo */
.logo-image {
    float: left;
    width: 150px;
    height: auto;
    padding-bottom: 10px;
}

/* esto es para el formulario que te muestre si es que es correcto lo insertado o es incorrecto 
se muestra un borde izquierdo dependiendo el estado del formulario */

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #1eb14f; /*verde */
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a31e1e; /*rojo */
}