<!-- notificaciones.component.html -->
<div class="container-fluid bg-light p-3 mb-3 rounded">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item" *ngFor="let notificacion of notificaciones; let i = index">
            <h2 class="accordion-header" [attr.id]="'heading' + i">
                <button class="accordion-button collapsed p-4" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i" [attr.aria-controls]="'collapse' + i">
                    <div class="col-auto">
                        <div class="row-cols-auto">
                            <h5>Paciente No. {{ i + 1 }} - Nueva solicitud de búsqueda</h5>
                        </div>
                        <div class="row-cols-auto">
                            <p class="small mb-2">De: Alejandro Ortiz Perez <a
                                    class="ms-2 text-muted">alejandro.ortiz&#64;gmail.com</a>
                            </p>
                        </div>
                        <div class="row-cols-auto">
                            <div class="text-muted">
                                <small>Enviado el 20/07/2024</small>
                            </div>
                        </div>
                    </div>
                </button>
            </h2>

            <div [attr.id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#accordionExample">
                <div class="accordion-body p-4">
                    <p>Ha llegado una nueva solicitud de búsqueda de paciente. El interesado es Alejandro Ortiz,
                        contactable al número +52 55 4321 1024. La solicitud fue recibida el 12 de enero de 2024 y
                        está actualmente en estado "Nueva". Por favor, revise y gestione esta solicitud a la mayor
                        brevedad posible.</p>
                    <div class="text-end">
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#confirmModal3">
                            <span class="d-none d-sm-inline">Ir a la solicitud</span>
                            <i class="bi bi-eye d-sm-none"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
