<div class="bg-white d-flex flex-column justify-content-center py-3 header border">
    <div class="d-flex align-items-center">
        <span class="material-symbols-outlined mr-2 px-3 fs-1" routerLink="/dashboard/registered-patients"
            style="cursor: pointer; color: #666666;">
            arrow_back
        </span>
        <h2 class="mb-0" style="color: #666666;">Registrar paciente</h2>
    </div>
</div>

<div class="m-5 content">
    <h4>Información principal</h4>
    <p>Complete los siguientes campos con la información solicitada.</p>
    <form [formGroup]="registerPatients" (ngSubmit)="onSubmit()" class="bg-white px-5 py-4 rounded">
        <div class="row mb-3">
            <div class="col">
                <label for="name">Nombre*</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                    placeholder="Ingresa el nombre del paciente">
                <div *ngIf="registerPatients.get('name')?.touched && registerPatients.get('name')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('name')?.errors?.['required']">El nombre
                        del paciente es requerido.</small>
                    <small class="error-message" *ngIf="registerPatients.get('name')?.errors?.['maxlength']">El nombre
                        no puede exceder los 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <label for="lastName">Apellido paterno*</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName"
                    placeholder="Ingresa el apellido paterno del paciente">
                <div *ngIf="registerPatients.get('lastName')?.touched && registerPatients.get('lastName')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('lastName')?.errors?.['required']">El
                        apellido paterno del paciente es requerido.</small>
                    <small class="error-message" *ngIf="registerPatients.get('lastName')?.errors?.['maxlength']">El
                        apellido paterno no puede exceder los 50 caracteres.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="secondLastName">Apellido materno*</label>
                <input type="text" class="form-control" id="secondLastName" formControlName="secondLastName"
                    placeholder="Ingresa el apellido materno del paciente">
                <div
                    *ngIf="registerPatients.get('secondLastName')?.touched && registerPatients.get('secondLastName')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('secondLastName')?.errors?.['required']">El
                        apellido materno del paciente es requerido.</small>
                    <small class="error-message"
                        *ngIf="registerPatients.get('secondLastName')?.errors?.['maxlength']">El apellido materno no
                        puede exceder los 50 caracteres.</small>
                </div>
            </div>
            <div class="col">
                <label for="gender">Sexo*</label>
                <select id="gender" class="form-select" formControlName="gender">
                    <option value="" selected>Seleccione el sexo</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
                <div *ngIf="registerPatients.get('gender')?.touched && registerPatients.get('gender')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('gender')?.errors?.['required']">El sexo
                        del paciente es requerido.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="approximateAge">Edad aparente*</label>
                <input class="form-control" id="approximateAge" formControlName="approximateAge"
                    placeholder="Ingresa la edad aparente del paciente" maxlength="3">
                <div
                    *ngIf="registerPatients.get('approximateAge')?.touched && registerPatients.get('approximateAge')?.invalid">
                    <small class="error-message"
                        *ngIf="registerPatients.get('approximateAge')?.errors?.['required']">Ingrese la edad del
                        paciente.</small>
                    <small class="error-message" *ngIf="registerPatients.get('approximateAge')?.errors?.['pattern']">La
                        edad debe ser un número entero.</small>
                    <small class="error-message" *ngIf="registerPatients.get('approximateAge')?.errors?.['max']">La edad
                        no puede ser mayor a 150 años.</small>
                    <small class="error-message" *ngIf="registerPatients.get('approximateAge')?.errors?.['min']">La edad
                        no puede ser menor a 0 años.</small>
                </div>
            </div>
            <div class="col">
                <label for="skinColor">Color de piel*</label>
                <select id="skinColor" class="form-select" formControlName="skinColor">
                    <option value="" selected>Seleccione un color de piel</option>
                    <option value="Clara">Clara</option>
                    <option value="Media">Media</option>
                    <option value="Oscura">Oscura</option>
                </select>
                <div *ngIf="registerPatients.get('skinColor')?.touched && registerPatients.get('skinColor')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('skinColor')?.errors?.['required']">El
                        color de piel del paciente es requerido.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="eyeColor">Color de ojos*</label>
                <select id="eyeColor" class="form-select" formControlName="eyeColor">
                    <option value="" selected>Seleccione un color de ojos</option>
                    <option value="Negro">Negro</option>
                    <option value="Café">Café</option>
                    <option value="Verde">Verde</option>
                    <option value="Azul">Azul</option>
                    <option value="Gris">Gris</option>
                </select>
                <div *ngIf="registerPatients.get('eyeColor')?.touched && registerPatients.get('eyeColor')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('eyeColor')?.errors?.['required']">El color
                        de ojos del paciente es requerido.</small>
                </div>
            </div>
            <div class="col">
                <label for="hair">Tipo de cabello</label>
                <select id="hair" class="form-select" formControlName="hair">
                    <option value="" selected>Seleccione un Tipo de cabello</option>
                    <option value="Negro">Negro</option>
                    <option value="Castaño">Castaño</option>
                    <option value="Rubio">Rubio</option>
                    <option value="Pelirrojo">Pelirrojo</option>
                    <option value="Gris">Gris</option>
                    <option value="Blanco">Blanco</option>
                    <option value="Canoso">Canoso</option>
                    <option value="Castaño Oscuro">Castaño Oscuro</option>
                    <option value="Castaño Claro">Castaño Claro</option>
                    <option value="Castaño Cobrizo">Castaño Cobrizo</option>
                    <option value="Moreno">Moreno</option>
                </select>
                <div *ngIf="registerPatients.get('hair')?.touched && registerPatients.get('hair')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('hair')?.errors?.['required']">El color de cabello del paciente es requerido.</small>
                </div>
            </div>
            <div class="col">
                <label for="hairColor">Color de cabello*</label>
                <select id="hairColor" class="form-select" formControlName="hairColor">
                    <option value="" selected>Seleccione un color de cabello</option>
                    <option value="Negro">Negro</option>
                    <option value="Castaño">Castaño</option>
                    <option value="Rubio">Rubio</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Gris">Gris</option>
                    <option value="Blanco">Blanco</option>
                </select>
                <div *ngIf="registerPatients.get('hairColor')?.touched && registerPatients.get('hairColor')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('hairColor')?.errors?.['required']">El
                        color de cabello del paciente es requerido.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="hairLength">Largo del cabello*</label>
                <select id="hairLength" class="form-select" formControlName="hairLength">
                    <option value="" selected>Seleccione el largo del cabello</option>
                    <option value="Corto">Corto</option>
                    <option value="Medio">Medio</option>
                    <option value="Largo">Largo</option>
                </select>
                <div *ngIf="registerPatients.get('hairLength')?.touched && registerPatients.get('hairLength')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('hairLength')?.errors?.['required']">El
                        largo de cabello del paciente es requerido.</small>
                </div>
            </div>
            <div class="col">
                <label for="complexion">Complexión*</label>
                <select id="complexion" class="form-select" formControlName="complexion">
                    <option value="" selected>Seleccione la complexión del paciente</option>
                    <option value="Delgada">Delgada</option>
                    <option value="Media">Media</option>
                    <option value="Atlética">Atlética</option>
                    <option value="Robusta">Robusta</option>
                </select>
                <div *ngIf="registerPatients.get('complexion')?.touched && registerPatients.get('complexion')?.invalid">
                    <small class="error-message" *ngIf="registerPatients.get('complexion')?.errors?.['required']">La
                        complexión del paciente es requerida.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="approximateHeight">Altura aproximada (cm)*</label>
                <input type="number" class="form-control" id="approximateHeight" formControlName="approximateHeight"
                    placeholder="Ingresa la altura aproximada del paciente" maxlength="3">
                <div
                    *ngIf="registerPatients.get('approximateHeight')?.touched && registerPatients.get('approximateHeight')?.invalid">
                    <small class="error-message"
                        *ngIf="registerPatients.get('approximateHeight')?.errors?.['required']">La altura del paciente
                        es requerida.</small>
                    <small class="error-message" *ngIf="registerPatients.get('approximateHeight')?.errors?.['min']">La
                        altura no puede ser menor a 50 cm.</small>
                    <small class="error-message" *ngIf="registerPatients.get('approximateHeight')?.errors?.['max']">La
                        altura no puede ser mayor a 300 cm.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="medicalConditions">Condiciones médicas</label>
                <input type="text" class="form-control" id="medicalConditions" formControlName="medicalConditions"
                    placeholder="Ingresa las condiciones médicas del paciente">
                <div
                    *ngIf="registerPatients.get('medicalConditions')?.touched && registerPatients.get('medicalConditions')?.invalid">
                    <small class="error-message"
                        *ngIf="registerPatients.get('medicalConditions')?.errors?.['maxlength']">Las condiciones médicas
                        no pueden ser mayor a 255 caracteres.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="distinctiveFeatures">Señas particulares</label>
                <input type="text" class="form-control" id="distinctiveFeatures" formControlName="distinctiveFeatures"
                    placeholder="Ingresa las señas particulares del paciente">
                <div
                    *ngIf="registerPatients.get('distinctiveFeatures')?.touched && registerPatients.get('distinctiveFeatures')?.invalid">
                    <small class="error-message"
                        *ngIf="registerPatients.get('distinctiveFeatures')?.errors?.['maxlength']">Las señas
                        particulares no pueden ser mayor a 255 caracteres.</small>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="additionalNotes">Notas adicionales</label>
                <input type="text" class="form-control" id="additionalNotes" formControlName="additionalNotes"
                    placeholder="Ingresa notas adicionales del paciente">
                <div
                    *ngIf="registerPatients.get('additionalNotes')?.touched && registerPatients.get('additionalNotes')?.invalid">
                    <small class="error-message"
                        *ngIf="registerPatients.get('additionalNotes')?.errors?.['maxlength']">Las notas adicionales no
                        pueden ser mayor a 255 caracteres.</small>
                </div>
            </div>
        </div>

        <div id="fotos">
            <h4 class="mt-5">Añadir imágenes</h4>
            <p>Suba imágenes del paciente que desea registrar. Considere la toma de las imágenes en diferentes ángulos
                para facilitar la búsqueda y reconocimiento por parte del usuario. <b>Debes de subir al menos 8 fotos. El máximo es de 12.</b></p>
            <div id="filePond" class="w-100 h-75 bg-light rounded-3">
                <file-pond #myPond 
                [formArrayName]="'imageFiles'" 
                [options]="pondOptions"
                (oninit)="pondHandleInit()"
                (onaddfile)="pondHandleAddFile($event)">
                </file-pond>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-4 justify-content-end"
            [disabled]="registerPatients.invalid || imageFilesLength < minFiles">Registrar
        </button>
    </form>
</div>

