.table-bordered {
    border: 2px solid black;
  }
  
  .table thead th {
    border-bottom: 2px solid black;
  }
  
  .float-right {
    color: #007bff;
    text-decoration: none;
  }
  
  .float-right:hover {
    text-decoration: underline;
  }
  
  .material-icons {
    cursor: pointer;
  }
  
  .material-icons.text-primary:hover {
    color: #0056b3;
  }
  
  .material-icons.text-danger:hover {
    color: #dc3545;
  }
  