<div class="container-fluid p-3 m-1">
  <!-- Solicitudes recibidas -->
  <div class="container">
    <h1 class="mb-4 fs-2">Solicitudes recibidas</h1>

    <div class="row mb-4">
      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              mail
            </span>
            <h5 class="fs-5 mb-0 fw-bold">Total</h5>
            <p class="fs-2 mb-0 fw-bold text-primary" id="totalRequests">0</p> 
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              priority_high
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Nuevas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary" id="newRequests">0</p> 
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              autorenew
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">En revisión</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary" id="inReviewRequests">0</p> 
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              check_circle
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Finalizadas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary" id="completedRequests">0</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Gráficas -->
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0 fw-medium">Solicitudes recibidas en los últimos 30 días</p>
        <div class="card w-100 h-100">
          <div class="card-body">
            <div id="chartRequests" class="w-100" style="height: 200px"></div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6">
        <p class="mb-0 fw-medium">Porcentaje del estatus de las solicitudes</p>
        <div class="card w-100 h-100">
          <div class="card-body">
            <div class="w-100 h-100">
              <div id="statusChart" class="w-100 h-100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Gráficas -->
  </div>
  <!-- /Solicitudes recibidas -->

</div>

<!-- Pacientes registrados -->
<div class="container mt-5">
  <h1 class="mb-4 fs-2">Pacientes registrados</h1>

  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            groups
          </span>
          <h5 class="fs-5 mb-0 fw-bold">Total</h5>
          <p id="totalNumber" class="card-number fs-2 mb-0 fw-bold text-primary">0</p>
        </div>
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            calendar_month
          </span>
          <h5 class="fs-5 mb-0 fw-bold">Registrados esta semana</h5>
          <p id="weeklyRegistrations" class="card-number fs-2 mb-0 fw-bold text-primary">0</p>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            personal_injury
          </span>
          <h5 class="fs-5 mb-0 fw-bold">Activos</h5>
          <p id="activeCount" class="card-number fs-2 mb-0 fw-bold text-primary">0</p>
        </div>
      </div>
    </div>
  </div>  

  <!-- Gráficas -->
  <div class="row">
    <div class="col-md-6">
      <p class="mb-0 fw-medium">Pacientes recibidos en los últimos 30 días</p>
      <div class="card w-100 h-100">
        <div class="card-body">
          <canvas id="chartPatients"></canvas>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <p class="mb-0 fw-medium">Sexo y edad del paciente</p>
      <div class="card w-100 h-75">
        <div class="card-body d-flex justify-content-between">
          <div class="w-100">
            <div id="genderChart"></div>
          </div>
          <div class="w-100">
            <div id="ageChart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Gráficas -->


  <!-- Búsqueda -->
  <!-- <div class="container mt-5">
    <h1 class="mb-4 fs-2">Búsqueda</h1>

    <div class="row text-center mb-4">
      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              search
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Total de búsquedas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">30</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              check_circle
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Tasa de éxito</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">47%</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              schedule
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Tiempo de resolución</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">9 días</p>
          </div>
        </div>
      </div>
    </div>

     Gráficas
    <div class="row">
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="chartSearch"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="regionChart" width="10" height="10"></canvas>
          </div>
        </div>
      </div>
    </div>
    /Gráficas
  </div> -->

  <!-- /Búsqueda -->
</div>