<div class="container-fluid p-3 m-1">
  <!-- Solicitudes recibidas -->
  <div class="container">
    <h1 class="mb-4 fs-2">Solicitudes recibidas</h1>

    <div class="row mb-4">
      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              mail
            </span>
            <h5 class="fs-5 mb-0 fw-bold">Total</h5>
            <p class="fs-2 mb-0 fw-bold text-primary">30</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              priority_high
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Nuevas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">7</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              autorenew
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">En revisión</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">12</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              check_circle
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Finalizadas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">11</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráficas -->
    <div class="row">
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="chartRequests"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="statusChart" width="10" height="10"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- /Gráficas -->
  </div>
  <!-- /Solicitudes recibidas -->

</div>

<!-- Pacientes registrados -->
<div class="container mt-5">
  <h1 class="mb-4 fs-2">Pacientes registrados</h1>

  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            groups
          </span>
          <h5 class="fs-5 mb-0 fw-bold">Total</h5>
          <p class="card-number fs-2 mb-0 fw-bold text-primary">30</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            calendar_month
          </span>
          <h5 class="fs-5 mb-0 fw-bold">Registrados esta semana</h5>
          <p class="card-number fs-2 mb-0 fw-bold text-primary">12</p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card h-100 d-flex justify-content-center align-items-center">
        <div class="card-body text-center">
          <span class="material-symbols-outlined fs-1 text-primary">
            personal_injury
          </span>
          <h5 class="card-title fs-5 mb-0 fw-bold">Activos</h5>
          <p class="card-number fs-2 mb-0 fw-bold text-primary">11</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Gráficas -->
  <div class="row">
    <div class="col-md-6">
      <div class="card w-100 h-100">
        <div class="card-body">
          <canvas id="chartPatients"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card w-100 h-100">
        <div class="card-body d-flex justify-content-between">
          <div class="w-50">
            <canvas id="genderChart" width="10" height="10"></canvas>
          </div>
          <div class="w-50">
            <canvas id="ageChart" width="10" height="10"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /Gráficas -->


  <!-- Búsqueda -->
  <div class="container mt-5">
    <h1 class="mb-4 fs-2">Búsqueda</h1>

    <div class="row text-center mb-4">
      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              search
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Total de búsquedas</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">30</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              check_circle
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Tasa de éxito</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">47%</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card h-100 d-flex justify-content-center align-items-center">
          <div class="card-body text-center">
            <span class="material-symbols-outlined fs-1 text-primary">
              schedule
            </span>
            <h5 class="card-title fs-5 mb-0 fw-bold">Tiempo de resolución</h5>
            <p class="card-number fs-2 mb-0 fw-bold text-primary">9 días</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Gráficas -->
    <div class="row">
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="chartSearch"></canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card w-100 h-100">
          <div class="card-body">
            <canvas id="regionChart" width="10" height="10"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- /Gráficas -->

  </div>

  <!-- /Búsqueda -->
</div>