/* Mantener el primer div estático en la parte superior */
.header {
    position: fixed;
    top: 0;
    left: 18.8%;
    right: 3.5%;
    z-index: 1;
}

/* Contenedor del contenido restante */
.content {
    padding-top: 60px;
    padding-bottom: 30px;
}

.custom-rounded {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
