<div [formGroup]="restorePassword" (ngSubmit)="onSubmit()" class="bg-white" style="display: block; height: 100%;">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
      <img class="logo-image" src="assets/images/logo.png" alt="logo">
    </div>
    <div class="mt-4 text-center">
      <span class="material-symbols-outlined text-primary" style="font-size: 12rem;">lock_reset</span>
    </div>
    <div class="mt-2">
      <h2 class="fw-bold">Restablezca su contraseña</h2>
    </div>
  </div>

  <div class="container-flex mb-5" style="padding-left: 28%;">
    <div class="container mt-2" style="margin-left: 0%;">
      <h1 class="fw-bold">Restablezca su contraseña</h1>
    </div>

    <div class="container-fluid mt-3 ps-4" style="width: 57%; margin-left: 0%;">
      <label for="inputPassword" class="form-label">Nueva contraseña</label>
      <input type="password" id="inputPassword" formControlName="password" class="form-control bg-light"
        aria-describedby="passwordHelpBlock" placeholder="Ingresa tu nueva contraseña">
      <div *ngIf="restorePassword.get('password')?.touched && restorePassword.get('password')?.invalid">
        <small class="error-message" *ngIf="restorePassword.get('password')?.errors?.['required']">No seleccionó ninguna
          opción.</small>
        <small class="error-message" *ngIf="restorePassword.get('password')?.errors?.['minlength']">La contraseña debe
          de tener como mínimo 8 caracteres.</small>
        <small class="error-message" *ngIf="restorePassword.get('password')?.errors?.['maxlength']">La contraseña debe
          de tener como máximo 24 caracteres.</small>
      </div>
    </div>

    <div class="container-fluid mt-3 ps-4" style="width: 57%; margin-left: 0%;">
      <label for="inputConfirmPassword" class="form-label fw-bold">Repetir contraseña</label>
      <input type="password" id="inputConfirmPassword" formControlName="confirmPassword" class="form-control bg-light"
        aria-describedby="passwordHelpBlock" placeholder="Ingresa tu nueva contraseña">
      <div *ngIf="restorePassword.get('confirmPassword')?.touched && restorePassword.get('confirmPassword')?.invalid">
        <small class="error-message" *ngIf="restorePassword.get('confirmPassword')?.errors?.['required']">No seleccionó
          ninguna opción.</small>
        <small class="error-message" *ngIf="restorePassword.get('confirmPassword')?.errors?.['minlength']">La contraseña
          debe de tener como mínimo 8 caracteres.</small>
        <small class="error-message" *ngIf="restorePassword.get('confirmPassword')?.errors?.['maxlength']">La contraseña
          debe de tener como máximo 24 caracteres.</small>
      </div>
    </div>

    <div class="container-fluid mt-3 ps-4" style="width: 57%; margin-left: 0%;">
      <div *ngIf="restorePassword.errors?.['passwordMismatch'] && restorePassword.get('confirmPassword')?.touched">
        <small class="error-message">Las contraseñas no coinciden.</small>
      </div>
    </div>

    <div class="container mt-4" style="margin-left: 0%; padding-left: 31.6%;">
      <button class="btn text-primary fw-bold me-md-2" type="button">Iniciar sesión</button>
      <button class="btn btn-primary" type="submit" (click)="onSubmit()" [disabled]="loading">Cambiar</button>
      <div *ngIf="errorMessage" class="mt-1 alert alert-primary">{{ errorMessage }}</div>
    </div>
  </div>
</div>
