<div class="bg-white" style="display: block; height: 100%;">
   <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
      <img class="logo-image img-fluid" src="assets/images/logo.png" alt="logo" style="width: 150px; height: auto;">
    </div>
      <div class="mt-4 text-center">
      <span class="material-symbols-outlined text-primary" style="font-size: 12rem;">
        lock_reset
      </span>
    </div>
  </div>
  
  <div class="container-flex mb-5 " style="padding-left: 28%;">
    <div class="container mt-2" style="margin-left: 0%; ">
      <h1 class="fw-bold">Restablezca su contraseña</h1>
    </div>

    <div class="container-fluid mt-3 ps-4" style="width: 57%; margin-left: 0%; ">
      <label for="inputPassword5" class="form-label">Nueva contraseña</label>
      <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock" placeholder="correo@ejemplo.com">
    </div>

    <div class="container-fluid mt-3 ps-4" style="width: 57%; margin-left: 0%; ">
      <label for="inputPassword5" class="form-label fw-bold">Repetir contraseña</label>
      <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock"
        placeholder="correo@ejemplo.com">
    </div>

    <div class="container mt-4" style="margin-left: 0%; padding-left: 31.6%;">
      <button class="btn text-primary fw-bold me-md-2" type="button">Iniciar sesión</button>
      <button class="btn btn-primary" type="button">Cambiar</button>
    </div>
  </div>
</div>