<div class="bg-white h-100 flex-column pt-3">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="container text-center">
      <img class="logo-image" src="assets/images/logo.png" alt="logo">
    </div>
    <div class="mt-4 text-center">
      <span class="material-symbols-outlined text-primary" style="font-size: 11rem;">
        lock_reset
      </span>
    </div>
    <div class="mt-2">
      <h2 class="fw-bold">Restablezca su contraseña</h2>
    </div>
  </div>

  <div class="container d-flex flex-column justify-content-center align-items-center w-50">
    <div class="container mb-3">
      <!-- Nueva contraseña -->
      <div class="mt-3">
        <label class="form-label fw-bold">Nueva contraseña</label>
        <input type="password" id="newPassword" class="form-control bg-light"
               formControlName="newPassword" placeholder="Nueva contraseña">
      </div>

      <!-- Repetir contraseña -->
      <div class="mt-3">
        <label class="form-label fw-bold">Repetir contraseña</label>
        <input type="password" id="confirmPassword" class="form-control bg-light"
               formControlName="confirmPassword" placeholder="Repetir contraseña">
      </div>

      <!-- Botones -->
      <div class="pt-3 d-flex justify-content-end gap-2">
        <button class="btn text-primary fw-bold" type="button" routerLink="/access/login">Iniciar sesión</button>
        <button class="btn btn-primary" type="submit">Cambiar</button>
      </div>
    </div>
  </div>
</div>