<div class="vh-100 d-flex justify-content-center align-items-center flex-column text-center">
  <div class="d-flex flex-column">
    <img class="logo-image" src="assets/images/logo.png" alt="logo">
    <i class="bi bi-check-circle text-primary" style="font-size: 10rem; line-height: 1;"></i>
  </div>

  <div class="my-4">
    <h2 class="fw-bold">Correo verificado con éxito</h2>
    <p>La dirección de correo electrónico se ha verificado correctamente. Ahora puede iniciar sesión.</p>

    <div class="mt-4">
      <button class="btn btn-primary w-75" routerLink="/auth/login">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>