<div class="bg-light-subtle d-flex justify-content-center align-items-center vh-100 w-100">
  <div class="container-fluid col-6">
    <div class="d-flex justify-content-center align-items-center full-height flex-column">
      <img class="logo-image" src="assets/images/logo.png" alt="logo">
      <i class="bi bi-check-circle text-primary my-3" style="font-size: 10rem;"></i>
    </div>

    <div class="text-center my-4">
      <h2 class="fw-bold">Correo verificado con éxito</h2>
      <p>La dirección de correo electrónico se ha verificado correctamente. Ahora puede iniciar sesión.</p>

      <div class="d-grid mt-4">
        <button class="btn btn-primary" routerLink="/auth/login">
          Iniciar sesión
        </button>
      </div>
    </div>
  </div>
</div>