<table id="contactsTable" class="text-nowrap">
  <thead>
    <tr class="align-content-around">
      <th>ID</th>
      <th>Interesado(a)</th>
      <th>Desaparecido(a)</th>
      <th>Relación</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Fecha y hora de solicitud</th>
      <th>Status</th>
      <th>Más detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>