<div class="bg-light-subtle p-4 rounded-4 border">
    <form class="mb-0" [formGroup]="membershipForm" (ngSubmit)="addMembership()">
        <h5 class="mb-4">Información de la membresía</h5>

        <div class="row mb-3">
            <div class="col">
                <label for="institutionName" class="form-label">Nombre de la institución*</label>
                <select class="form-select " id="institutionName" formControlName="institutionName" [class.is-invalid]="membershipForm.get('institutionName')?.invalid && 
                    (membershipForm.get('institutionName')?.dirty || membershipForm.get('institutionName')?.touched)">
                    <option value="">Seleccione una institución</option>
                    @for (name of institutionNames; track name) {
                    <option [value]="name">{{ name }}</option>
                    }
                </select>
                @if (membershipForm.get('institutionName')?.errors?.['required']) {
                <p class="small invalid-feedback mt-2 mb-0">
                    El nombre de la institución es requerido.
                </p>
                }
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="startDate" class="form-label">Fecha de inicio*</label>
                <input type="date" class="form-control bg-body-tertiary" id="startDate" formControlName="startDate"
                    [class.is-invalid]="membershipForm.get('startDate')?.invalid && 
                    (membershipForm.get('startDate')?.dirty || membershipForm.get('startDate')?.touched)">
                @if (membershipForm.get('startDate')?.errors?.['required']) {
                <p class="small invalid-feedback mt-2 mb-0">
                    La fecha de inicio es requerida.
                </p>
                }
            </div>

            <div class="col">
                <label for="endDate" class="form-label">Fecha de fin*</label>
                <input type="date" class="form-control bg-body-tertiary" id="endDate" formControlName="endDate"
                    [class.is-invalid]="membershipForm.get('endDate')?.invalid && 
                    (membershipForm.get('endDate')?.dirty || membershipForm.get('endDate')?.touched)">
                @if (membershipForm.get('endDate')?.errors?.['required']) {
                <p class="small invalid-feedback mt-2 mb-0">
                    La fecha de finalización es requerida.
                </p>
                }
                @if (membershipForm.get('endDate')?.errors?.['invalidDateRange']) {
                <p class="small invalid-feedback mt-2 mb-0">
                    La fecha de finalización debe ser posterior a la fecha de inicio.
                </p>
                }
            </div>
        </div>

        <!-- Botón de envío y mensaje de error -->
        <div class="d-flex flex-column align-items-end">
            <button type="submit" class="btn btn-primary mt-4" [disabled]="loading">
                Registrar membresía
            </button>

            <!-- Mostrar mensaje de error -->
            @if (errorMessage) {
            <p class="small text-danger mt-2 mb-0">
                {{ errorMessage }}
            </p>
            }
        </div>
    </form>
</div>