<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4>Pacientes registrados</h4>
    </div>

    <div class="rounded-3 bg-white py-1 px-2">
        @defer {
        <app-patients-table [table]="table"></app-patients-table>
        }

        @if (error) {
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            }
        
        @if (loading) {
            <div class="text-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
            }
    </div>
    
</div>