<!-- En profile.component.html -->
<div class="container">
  <h3 class="mb-4">Editar perfil</h3>
  <div class="bg-white px-4 py-4 rounded-5 border">
    <form [formGroup]="settingsForm" (ngSubmit)="editProfile()">
      <div class="mb-3">
        <label for="name" class="form-label fw-bold">Nombre(s)</label>
        <input type="text" class="form-control bg-light" id="name" formControlName="name" required
          placeholder="Ingresa tu nombre">
        <small *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="text-danger">
          <span *ngIf="name?.errors?.['required']">El nombre es requerido.</span>
          <span *ngIf="name?.errors?.['maxlength']">El nombre no puede exceder los 50 caracteres.</span>
        </small>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="lastName" class="form-label fw-bold">Apellido paterno</label>
          <input type="text" class="form-control bg-light" id="lastName" formControlName="lastName" required
            placeholder="Ingresa tu apellido paterno">
          <small *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="text-danger">
            <span *ngIf="lastName?.errors?.['required']">El apellido paterno es requerido.</span>
            <span *ngIf="lastName?.errors?.['maxlength']">El apellido paterno no puede exceder los 50 caracteres.</span>
          </small>
        </div>
        <div class="col">
          <label for="secondLastName" class="form-label fw-bold">Apellido materno</label>
          <input type="text" class="form-control bg-light" id="secondLastName" formControlName="secondLastName" required
            placeholder="Ingresa tu apellido materno">
          <small *ngIf="secondLastName?.invalid && (secondLastName?.dirty || secondLastName?.touched)"
            class="text-danger">
            <span *ngIf="secondLastName?.errors?.['required']">El apellido materno es requerido.</span>
            <span *ngIf="secondLastName?.errors?.['maxlength']">El apellido materno no puede exceder los 50
              caracteres.</span>
          </small>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="position" class="form-label fw-bold">Cargo</label>
          <input type="text" class="form-control bg-light" id="position" formControlName="position" required
            placeholder="Ingresa tu cargo">
          <small *ngIf="position?.invalid && (position?.dirty || position?.touched)" class="text-danger">
            <span *ngIf="position?.errors?.['required']">El cargo es requerido.</span>
            <span *ngIf="position?.errors?.['maxlength']">El cargo no puede exceder los 25 caracteres.</span>
          </small>
        </div>
        <div class="col">
          <label for="email" class="form-label fw-bold">Correo electrónico</label>
          <input type="email" class="form-control bg-light" id="email" formControlName="email" required
            placeholder="Ingresa tu correo electrónico">
          <small *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
            <span *ngIf="email?.errors?.['required']">El correo electrónico es requerido.</span>
            <span *ngIf="email?.errors?.['email']">Ingrese una dirección de correo electrónico válida.</span>
            <span *ngIf="email?.errors?.['maxlength']">El correo electrónico no puede exceder los 100 caracteres.</span>
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-end">
            <button class="btn btn-primary" type="submit" [disabled]="!isFormModified" (click)="editProfile()" >Editar datos</button>
      </div>

    </form>

  </div>
</div>