<div class="container">
  <h3 class="mb-4">Editar perfil</h3>
  <div class="card p-4 rounded-4">
    <form>
      <div class="mb-3">
        <label for="nombre" class="form-label fw-bold">Nombre(s)</label>
        <input type="text" class="form-control bg-light" id="nombre" placeholder="Ingresa tu nombre" required>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="apellidoMaterno" class="form-label fw-bold">Apellido materno</label>
          <input type="text" class="form-control bg-light" id="apellidoMaterno"
            placeholder="Ingresa tu apellido materno" required>
        </div>
        <div class="col">
          <label for="apellidoPaterno" class="form-label fw-bold">Apellido paterno</label>
          <input type="text" class="form-control bg-light" id="apellidoPaterno"
            placeholder="Ingresa tu apellido paterno" required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="telefono" class="form-label fw-bold">Número de teléfono</label>
          <input type="tel" class="form-control bg-light" id="telefono" placeholder="Ingresa tu número de teléfono"
            required>
        </div>
        <div class="col">
          <label for="correo" class="form-label fw-bold">Correo electrónico</label>
          <input type="email" class="form-control bg-light" id="correo" placeholder="Ingresa tu correo electrónico"
            required>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="contrasena" class="form-label fw-bold">Contraseña</label>
          <input type="password" class="form-control bg-light" id="contrasena" placeholder="Ingresa tu contraseña"
            required>
        </div>
        <div class="col">
          <label for="repetirContrasena" class="form-label fw-bold">Repetir contraseña</label>
          <input type="password" class="form-control bg-light" id="repetirContrasena" placeholder="Repite tu contraseña"
            required>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="container mt-5">
  <h3 class="mb-4">Accesibilidad</h3>
  <div class="card p-4 align-center rounded-4">
    <div class="row my-2">
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            format_size
          </span>
          <label for="size" class="ms-2">Tamaño del texto</label>
        </div>
        <mat-slider min="1" max="5" step="0.5" discrete showTickMarks style="width: 50%;">
          <input matSliderThumb value="1.5">
        </mat-slider>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            format_bold
          </span>
          <label for="bold">Texto en negritas</label>
        </div>
        <mat-slider min="1" max="5" step="0.5" discrete showTickMarks style="width: 50%;">
          <input matSliderThumb value="1.5">
        </mat-slider>
      </div>
    </div>
    <div class="row my-2">
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            speech_to_text
          </span>
          <label for="size" class="ms-2">Texto a voz</label>
        </div>
        <div class="form-check form-switch" style="zoom: 1.5;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            fast_forward
          </span>
          <label for="bold">Velocidad de lectura</label>
        </div>
        <mat-slider min="1" max="5" step="0.5" discrete showTickMarks style="width: 50%;">
          <input matSliderThumb value="1.5">
        </mat-slider>
      </div>
    </div>
    <div class="row my-2">
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            contrast
          </span>
          <label for="size" class="ms-2">Texto oscuro sobre fondo claro</label>
        </div>
        <div class="form-check form-switch" style="zoom: 1.5;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
      </div>
      <div class="col d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <span class="material-symbols-outlined">
            contrast
          </span>
          <label for="size" class="ms-2">Texto claro sobre fondo oscuro</label>
        </div>
        <div class="form-check form-switch" style="zoom: 1.5;">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>
      </div>
    </div>
  </div>
</div>