@if (currentSection != 'Datos estadisticos') {
<div class="bg-light-subtle d-flex justify-content-between align-items-center header border-bottom p-3">

    <!-- Botón de "Volver" con icono de Bootstrap a la izquierda del título -->
    <div class="d-flex align-items-center">
        @if (isRegisterPage || isDetailsPage) {
        <a class="btn btn-sm me-3" type="button" (click)="openBackModal()">
            <!-- Ícono de Bootstrap -->
            <i class="bi bi-arrow-left"></i>
        </a>
        }
        <h4 class="m-0">{{ currentSection }}</h4>
    </div>

    <div class="d-flex justify-content-end">
        @if (!isRegisterPage && !isDetailsPage && getButtonLabel() != 'Datos estadisticos') {
        <!-- Botón de "Registrar" -->
        <a class="btn btn-sm btn-primary" type="button" [routerLink]="['/dashboard', getRoutePath(), 'register']">
            {{ getButtonLabel() }}
        </a>
        }
    </div>
</div>
}

<!-- Modal -->
<app-modal
  (confirmed)="handleConfirmation()">
</app-modal>