<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 p-0">
            <div class="h-100">
                <img src="../../../../public/assets/images/reestablish.jpg" alt="IAPEX" id="ima_forgetpass"
                    class="rounded-float-start">
            </div>
        </div>
<!-- /Contenedor derecho/ -->
        <div class="col-sm-6 p-0">
            <div class="row ms-1 me-1">
                <div id="r1">

                    <div class="inf">
                        <div class="icon-container">
                            <img src="../../../../public/assets/images/logo2.png" alt="LOGO_IAPEX" id="icon_findme">
                        </div>
                        <p class="ttl_register">Reestablezca su contraseña</p>
                        <p>
                            Para reestablecer su contraseña, ingrese la dirección de correo electrónico de su cuenta
                            de usuario
                            y le enviaremos un enlace para restablecer su contraseña.
                        </p>
                    </div>

                    <div class="mb-3">
                        <label for="input1" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control bg-light" id="input1"
                            placeholder="correo@ejemplo.com" maxlength="50" required>
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3">
                    <button class="btn me-2" id="btn_log" type="submit">Iniciar sesión</button>
                    <button class="btn btn-primary" id="btn_reg" type="submit">Enviar</button>
                </div>
            </div>
        </div>

    </div>
</div>

