.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1F89EA;
}
#btn1{
    color: rgb(67, 107, 228);
    font-weight: 700;
}
.logo-image {
    float: left;
    width: 150px;
    height: auto;
    padding-bottom: 10px;
}
p{
    margin-top: 0%;
    margin-bottom: 0%;
}