<header>
    <h4 style="padding-top: 6%;">vista general</h4>
    <div class="position-absolute top-0 end-0 btn btn-sm p-1 pt-0 me-5 mb-4 btn btn-primary" 
    style=" height: 4.7%; border: solid 0.5px;   border-radius: 15px; margin-top: 4.7%;" >
    <button type="button" class="btn btn-close-white " 
      style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .1rem; --bs-btn-font-size: .75rem;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus mb-1  ms-0 ps-0" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
      <span class="align-text-bottom ps-1 pe-0">Registrar paciente</span>
    </button>
    </div>
    <hr>  
</header>