<nav class="navbar navbar-expand-lg navbar-light bg-white border-dark" style="flex-grow: 1; width: 100%; padding-top: 0.8cm;">
  <div class="container-fluid" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="input-group" style="width: 65%; padding-left: 0.5cm">
      <span class="input-group-text" id="search-icon">
        <i class="material-icons">search</i>
      </span>
      <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="search-icon" style="flex-grow: 1;">
    </div>
    <div style="display: flex; align-items: center;  justify-content: flex-end; padding-right: 1cm;">
      <button class="btn btn-primary ms-3" type="button">+ Registrar paciente</button>
      <i class="material-icons mx-3" style="font-size: 20px;">notifications</i>
      <i class="material-icons" style="font-size: 20px;">settings</i>
    </div>
  </div>
</nav>


