<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="min-vh-100 bg-light d-flex flex-column justify-content-between">
            <!-- Visible en pantallas grandes -->
            <div class="pt-4 px-2 text-center d-none d-lg-flex align-items-center justify-content-center">
                <a type="submit" class="text-decoration-none d-flex align-items-center justify-content-center">
                    <img class="me-2 mx-auto" src="./../../../../assets/images/logo.png" alt="" width="140">
                </a>
            </div>
            <!-- Visible en pantallas pequeñas -->
            <div class="pt-4 px-2 text-center d-flex d-lg-none justify-content-center align-items-center">
                <a type="submit" class="text-decoration-none d-flex align-items-center">
                    <img class="me-2" src="./../../../../assets/images/logo-pepsico.png" alt="" width="35">
                </a>
            </div>
            <!-- <div class="pt-4 px-2 text-center">
                <a type="submit" class="text-decoration-none d-flex align-items-center">
                    <img class="me-2" src="./../../../../assets/images/logo-pepsico.png" alt="" width="35">
                    <span class="fs-4 d-none d-lg-inline fw-bolder">PEPSICO</span>
                </a>
            </div> -->

            <hr>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item mb-2">
                    <a routerLink="/rate-cards" class="nav-link" routerLinkActive="active">
                        <div class="d-none d-lg-flex align-items-center">
                            <i class="material-icons me-3" style="align-self: center;">home</i>
                            <span class="d-none d-lg-inline">Inicio</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a routerLink="/supplier-analysis" class="nav-link" routerLinkActive="active">
                        <div class="d-none d-lg-flex align-items-center">
                            <i class="material-icons me-3" style="align-self: center;">personal_injury</i>
                            <span class="d-none d-lg-inline">Pacientes</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item mb-2">
                    <a routerLink="/rate-simulator" class="nav-link" routerLinkActive="active">
                        <div class="d-none d-lg-flex align-items-center">
                            <i class="material-icons me-3" style="align-self: center;">mail</i>
                            <span class="d-none d-lg-inline">Solicitudes</span>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="mt-auto mb-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item mb-2">
                        <a type="submit" class="nav-link">
                            <div class="d-none d-lg-flex align-items-center">
                                <i class="material-icons">logout</i>
                                <span class="d-none d-lg-inline" style="margin-left: 8px;">Cerrar sesión</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>