<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="min-vh-100 bg-white d-flex flex-column justify-content-between border">
      <div class="pt-2 px-2 text-center d-none d-lg-flex align-items-center justify-content-center">
        <a class="text-decoration-none d-flex align-items-center justify-content-center"
          routerLink="/dashboard/general-view">
          <img class="me-2 mx-auto w-100" src="assets/images/logo.png">
        </a>
      </div>

      <ul class="nav nav-pills flex-column mt-5">
        <li class="nav-item mb-2">
          <a routerLink="/dashboard/general-view" class="nav-link" routerLinkActive="active">
            <div class="d-none d-lg-flex align-items-center">
              <span class="material-symbols-outlined me-3">home</span>
              <span class="d-none d-lg-inline">Inicio</span>
            </div>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="/dashboard/patients" class="nav-link" routerLinkActive="active">
            <div class="d-none d-lg-flex align-items-center">
              <span class="material-symbols-outlined me-3">personal_injury</span>
              <span class="d-none d-lg-inline">Pacientes</span>
            </div>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="/dashboard/contact-requests" class="nav-link" routerLinkActive="active">
            <div class="d-none d-lg-flex align-items-center">
              <span class="material-symbols-outlined me-3">mail</span>
              <span class="d-none d-lg-inline">Solicitudes</span>
            </div>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="/dashboard/institutions" class="nav-link" routerLinkActive="active">
            <div class="d-none d-lg-flex align-items-center">
              <span class="material-symbols-outlined me-3">account_balance</span>
              <span class="d-none d-lg-inline">Instituciones</span>
            </div>
          </a>
        </li>
        <li class="nav-item mb-2">
          <a routerLink="/dashboard/memberships" class="nav-link" routerLinkActive="active">
            <div class="d-none d-lg-flex align-items-center">
              <span class="material-symbols-outlined me-3">credit_card</span>
              <span class="d-none d-lg-inline">Membrecias</span>
            </div>
          </a>
        </li>        
      </ul>

      <div class="mt-auto mb-3">
        <div class="">
          <ul class=" nav nav-pills">
            <!-- <li class="nav-item mx-1">
              <a routerLink="/dashboard/notifications" class="nav-link" routerLinkActive="active">
                <span class="material-symbols-outlined">notifications</span>
              </a>
            </li>  -->

          </ul>
        </div>



        <ul class="nav nav-pills flex-column">
          <li class="nav-item mb-2">
            <a routerLink="/dashboard/settings" class="nav-link" routerLinkActive="active">
              <div class="d-none d-lg-flex align-items-center">
                <span class="material-symbols-outlined me-3">settings</span>
                <span class="d-none d-lg-inline">Configuración</span>
              </div>
            </a>
          </li>

          <li class="nav-item mb-2">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">
              <div class="d-none d-lg-flex align-items-center">
                <span class="material-symbols-outlined me-3">logout</span>
                <span class="d-none d-lg-inline text-black">Cerrar sesión</span>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>