<div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="icon-container ms-0">
            <div class="ms-0 mt-4">
                <img class="logo-image img-fluid" src="assets/images/logo.png" alt="logo" style="width: 165px; height: auto;">
            </div>
            <div class="icon_email mt-4">
                <span class="material-symbols-outlined" id="icon_e">
                    mail
                </span>
            </div>
        </div>
    </div>
    <div class="row text-center mt-0">
        <div class="col" style="text-size-adjust: 6rem;">
            <h1>Verifique su correo</h1>
            <p>Hemos enviado un código de verificación de 6 dígitos a la dirección</p>
            <p>de correo electrónico proporcionada. Por favor, ingrese el código a</p>
            <p>continuación para finalizar con el proceso de registro.</p>
        </div>
    </div>
    <div class="row container-fluid mt-3" style="width: 35%; margin-left: 32%;">
        <div class="col d-flex justify-content-center">
            <input type="text" class="form-control bg-light p-3 code-input" id="input1" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')">
            <input type="text" class="form-control bg-light p-3 code-input" id="input2" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled>
            <input type="text" class="form-control bg-light p-3 code-input" id="input3" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled>
            <input type="text" class="form-control bg-light p-3 code-input" id="input4" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled>
            <input type="text" class="form-control bg-light p-3 code-input" id="input5" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled>
            <input type="text" class="form-control bg-light p-3 code-input" id="input6" maxlength="1" required oninput="this.value = this.value.replace(/[^0-9]/g, '')" disabled>
            
        </div>
    </div>

    <div id="error-message" class="text-center mt-3 text-danger"></div>

    <div class="row container-fluid mt-4 justify-content-center">
        <div class="col-auto text-center">
            <button id="btn1" class="btn btn-none" routerLink="/dashboard">Iniciar sesión</button>
            <button class="btn btn-primary ms-2" routerLink="/dashboard" id="submitBtn">Enviar</button>
        </div>
    </div>
    <div class="text-center mt-md-4">
        <a class="nav-link active" href="#">
            <p id="btn1">Reenviar código</p>
        </a>
    </div>
</div>
