<div class="container-fluid">
        <div class="d-flex justify-content-center align-items-center mb-0 ">
            <div class="icon-container ms-0">
                <div class=" ms-0 mt-4">
                    <img class="logo-image img-fluid " src="assets/images/logo.png" alt="logo " style="width: 150px; height: auto;">
                </div>
                <div class="icon_email mt-4">
                    <span class="material-symbols-outlined" id="icon_e">
                        mail
                    </span>
                </div>
            </div>
        </div>
        <div class="row text-center mt-0">
            <div class="col" style="text-size-adjust: 6rem;">
                <h1>Verifique su correo</h1>
                <p>Hemos enviado un código de verificación de 6 dígitos a la dirección</p>
                <p>de correo electrónico proporcionada. Por favor, ingrese el código a</p>
                <p>continuación para finalizar con el proceso de registro.</p>
            </div>
        </div>
        <div class="row container-fluid mt-3" style="width: 35%; margin-left: 32%;">
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input1" required>
            </div>
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input2" required>
            </div>
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input3" required>
            </div>
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input4" required>
            </div>
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input5" required>
            </div>
            <div class="col">
                <input type="text" class="form-control bg-light p-3" id="input6" required>
            </div>
            <div class="d-flex justify-content-end mt-3 mb-3">
                <button class="btn me-2" id="btn_log" type="submit"><samp style="color: blue;">Volver</samp></button>
                <button class="btn btn-primary" id="btn_reg" type="submit">Verificar</button>
            </div>
            <div class="text-center" >
                <a class="nav-link active " href="#">
                    <samp style="color: blue;">Reenviar código</samp>
                </a>
            </div>
        </div>
        
    </div>
