<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="m-0">Solicitudes de contacto</h4>
      <div>
          <ul class="nav nav-pills">
              
          </ul>
      </div>
  </div>

  <div class="rounded-3 bg-white py-1 px-2">
      @defer {
      <app-contacts-table [table]="table"></app-contacts-table>
      }

      @if (error) {
      <div class="alert alert-danger" role="alert">
          {{ error }}
      </div>
      }

      @if (loading) {
      <div class="text-center">
          <div class="spinner-border" role="status">
              <span class="visually-hidden">Cargando...</span>
          </div>
      </div>
      }
  </div>
</div>

