<div class="d-flex justify-content-center align-items-center vh-100 bg-light-subtle flex-column pt-3">

  <div class="d-flex justify-content-center align-items-center full-height flex-column">
    <img class="logo-image" src="assets/images/logo.png" alt="logo">
    <i class="bi bi-shield-lock text-primary my-3" style="font-size: 10rem;"></i>
  </div>

  <div class="d-flex justify-content-center align-items-center flex-column">
    <div class="mt-2">
      <h2 class="fw-bold">Restablezca su contraseña</h2>
    </div>
  </div>

  <div class="container d-flex flex-column justify-content-center align-items-center w-50">
    <div class="container mb-3">
      <form [formGroup]="restorePasswordForm" (ngSubmit)="restorePassword()">
        <!-- Nueva contraseña -->
        <div class="mt-3">
          <label for="password" class="form-label">Nueva contraseña*</label>
          <input type="password" id="newPassword" class="form-control bg-body-tertiary" formControlName="newPassword"
            placeholder="Nueva contraseña"
            [class.is-invalid]="restorePasswordForm.get('newPassword')?.invalid && (restorePasswordForm.get('newPassword')?.dirty || restorePasswordForm.get('newPassword')?.touched)">
          @if (restorePasswordForm.get('newPassword')?.errors?.['required']) {
          <p class="small invalid-feedback mt-2 mb-0">
            La nueva contraseña es requerida.
          </p>
          }
          @if (restorePasswordForm.get('newPassword')?.errors?.['minlength']) {
          <p class="small invalid-feedback mt-2 mb-0">
            La nueva contraseña debe tener al menos 8 caracteres.
          </p>
          }
          @if (restorePasswordForm.get('newPassword')?.errors?.['maxlength']) {
          <p class="small invalid-feedback mt-2 mb-0">
            La nueva contraseña no puede exceder los 16 caracteres.
          </p>
          }
        </div>

        <!-- Repetir contraseña -->
        <div class="mt-3">
          <label for="repeatPassword" class="form-label">Repetir contraseña*</label>
          <input type="password" id="repeatPassword" class="form-control bg-body-tertiary"
            formControlName="repeatPassword" placeholder="Repetir contraseña"
            [class.is-invalid]="restorePasswordForm.get('repeatPassword')?.invalid && (restorePasswordForm.get('repeatPassword')?.dirty || restorePasswordForm.get('repeatPassword')?.touched)">
          @if (restorePasswordForm.get('repeatPassword')?.errors?.['required']) {
          <p class="small invalid-feedback mt-2 mb-0">
            Repetir la contraseña es requerido.
          </p>
          }
          @if (restorePasswordForm.get('repeatPassword')?.errors?.['mustMatch']) {
          <p class="small invalid-feedback mt-2 mb-0">
            Las contraseñas no coinciden.
          </p>
          }
        </div>

        <div class="d-grid mt-4">
          <button class="btn btn-primary" type="submit">
            Cambiar
          </button>
        </div>

        <!-- Mostrar mensaje de error -->
        @if (errorMessage) {
        <p class="small text-danger text-center mt-3 mb-0">
          {{ errorMessage }}
        </p>
        }

      </form>
    </div>
  </div>
</div>