<div class="vh-100 d-flex justify-content-center align-items-center flex-column">
  <!-- Logo y encabezado -->
  <div class="d-flex flex-column">
    <img class="logo-image" src="assets/images/logo.png" alt="logo">
    <i [class]="icon" style="font-size: 10rem; line-height: 1;"></i>
  </div>

  <!-- Título -->
  <div class="my-4 w-50">
    <h2 class="fw-bold text-center">{{title}}</h2>
    <p class="text-center">{{message}}</p>
  </div>

  <!-- Formulario -->
  <div class="w-50">
    @if (isForgotPassword) {
    <form [formGroup]="passwordResetForm" (ngSubmit)="requestPasswordReset()">
      <!-- Campo de correo -->
      <div>
        <label for="email" class="form-label">Correo electrónico*</label>
        <input type="email" id="email" formControlName="email" class="form-control bg-body-tertiary"
          placeholder="correo@ejemplo.com"
          [class.is-invalid]="passwordResetForm.get('email')?.invalid && (passwordResetForm.get('email')?.dirty || passwordResetForm.get('email')?.touched)">
        <!-- Mensajes de validación -->
        @if (passwordResetForm.get('email')?.errors?.['required']) {
        <p class="small invalid-feedback mt-2 mb-0">
          El correo electrónico es requerido.
        </p>
        }
        @if (passwordResetForm.get('email')?.errors?.['email']) {
        <p class="small invalid-feedback mt-2 mb-0">
          El correo electrónico no es válido.
        </p>
        }
        @if (passwordResetForm.get('email')?.errors?.['maxlength']) {
        <p class="small invalid-feedback mt-2 mb-0">
          El correo electrónico no puede exceder los 50 caracteres.
        </p>
        }
      </div>

      <!-- Botón de envío -->
      <div class="d-grid mt-4">
        @if (!isEmailSent) {
          <button class="btn btn-primary" type="submit" [disabled]="isLoading">
            Solicitar correo de reestablecimiento
          </button>
        }
      </div>

      <!-- Mostrar mensaje de error -->
      @if (errorMessage) {
      <p class="small text-danger text-center mt-3 mb-0">
        {{ errorMessage }}
      </p>
      }

      <!-- Mostrar mensaje y spinner de carga -->
      @if (isLoading) {
      <p class="small text-primary text-center mt-3 mb-0 d-flex align-items-center justify-content-center">
        <span class="spinner-border spinner-border-sm me-2 text-primary" role="status" aria-hidden="true"></span>
        El correo se está enviando, por favor espere.
      </p>
      }
    </form>
    }
    @if (isEmailSent) {
      <div class="d-grid">
        <button class="btn btn-primary" routerLink="/auth/login">
          Ir al inicio de sesión
        </button>
      </div>
    }
    @if (isRestorePassword) {
    <form [formGroup]="restorePasswordForm" (ngSubmit)="restorePassword()">
      <!-- Nueva contraseña -->
      <div>
        <label for="newPassword" class="form-label">Nueva contraseña*</label>
        <input type="password" id="newPassword" class="form-control bg-body-tertiary" formControlName="newPassword"
          placeholder="Nueva contraseña"
          [class.is-invalid]="restorePasswordForm.get('newPassword')?.invalid && (restorePasswordForm.get('newPassword')?.dirty || restorePasswordForm.get('newPassword')?.touched)">
        @if (restorePasswordForm.get('newPassword')?.errors?.['required']) {
        <p class="small invalid-feedback mt-2 mb-0">
          La nueva contraseña es requerida.
        </p>
        }
        @if (restorePasswordForm.get('newPassword')?.errors?.['minlength']) {
        <p class="small invalid-feedback mt-2 mb-0">
          La nueva contraseña debe tener al menos 8 caracteres.
        </p>
        }
        @if (restorePasswordForm.get('newPassword')?.errors?.['maxlength']) {
        <p class="small invalid-feedback mt-2 mb-0">
          La nueva contraseña no puede exceder los 16 caracteres.
        </p>
        }
      </div>

      <!-- Repetir contraseña -->
      <div class="mt-3">
        <label for="repeatPassword" class="form-label">Repetir contraseña*</label>
        <input type="password" id="repeatPassword" class="form-control bg-body-tertiary"
          formControlName="repeatPassword" placeholder="Repetir contraseña"
          [class.is-invalid]="restorePasswordForm.get('repeatPassword')?.invalid && (restorePasswordForm.get('repeatPassword')?.dirty || restorePasswordForm.get('repeatPassword')?.touched)">
        @if (restorePasswordForm.get('repeatPassword')?.errors?.['required']) {
        <p class="small invalid-feedback mt-2 mb-0">
          Debes repetir la contraseña.
        </p>
        }
        @if (restorePasswordForm.get('repeatPassword')?.errors?.['mustMatch']) {
        <p class="small invalid-feedback mt-2 mb-0">
          Las contraseñas no coinciden.
        </p>
        }
      </div>

      <div class="d-grid mt-4">
        <button class="btn btn-primary" type="submit">
          Restablecer contraseña
        </button>
      </div>

      <!-- Mostrar mensaje de error -->
      @if (errorMessage) {
      <p class="small text-danger text-center mt-3 mb-0">
        {{ errorMessage }}
      </p>
      }

    </form>
    }
    @if (isPasswordRestored) {
      <div class="d-grid">
        <button class="btn btn-primary" routerLink="/auth/login">
          Ir al inicio de sesión
        </button>
      </div>
    }
  </div>
</div>