<div class="row vh-100 g-0">
  <!-- Left column -->
  <div class="col-lg-6 position-relative d-none d-lg-block">
    <div class="bg-holder" style="background-image: url('./assets/images/bg-restablish.jpg')"></div>
  </div>
  <!--/ Left column -->

  <!-- Right column -->
  <div class="col-lg-6 bg-light-subtle py-5 d-flex align-items-center justify-content-center">
    <!-- Contenido -->
    <div class="d-flex align-items-center h-100 px-5">
      <div class="col-sm-6 col-lg-7 col-xl-6 w-100">
        <div class="mb-4">
          <div class="d-flex mb-2">
            <img class="logo-image" src="assets/images/logo.png" alt="logo">
          </div>
          <h1 class="fw-bold fs-2 mb-2">Restablezca su contraseña</h1>
          <p>
            Ingrese su correo electrónico para recibir instrucciones y continuar con el
            restablecimiento de su contraseña.
          </p>
        </div>
        <!-- Formulario -->
        <form class="mb-0" [formGroup]="passwordResetForm" (ngSubmit)="sendCode()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" formControlName="email" class="form-control bg-body-tertiary" id="email"
              placeholder="correo@ejemplo.com"
              [class.is-invalid]="passwordResetForm.get('email')?.invalid && (passwordResetForm.get('email')?.dirty || passwordResetForm.get('email')?.touched)">
            @if (passwordResetForm.get('email')?.errors?.['required']) {
            <p class="small invalid-feedback mt-2 mb-0">
              El correo electrónico es requerido.
            </p>
            }
            @if (passwordResetForm.get('email')?.errors?.['email']) {
            <p class="small invalid-feedback mt-2 mb-0">
              El correo electrónico no es válido.
            </p>
            }
            @if (passwordResetForm.get('email')?.errors?.['maxlength']) {
            <p class="small invalid-feedback mt-2 mb-0">
              El correo electrónico no puede exceder los 50 caracteres.
            </p>
            }
          </div>

          <div class="d-grid mt-4">
            <button class="btn btn-primary" type="submit">
              Enviar código de verificación
            </button>
          </div>

          <!-- Mostrar mensaje de error -->
          @if (errorMessage) {
          <p class="small text-danger text-center mt-3 mb-0">
            {{ errorMessage }}
          </p>
          }

        </form>
        <!-- Formulario -->
      </div>
    </div>
  </div>
  <!--/ Contenido -->
</div>
<!--/ Right column -->