<div class="row vh-100 g-0">
  <!-- Left column -->
  <div class="col-lg-6 position-relative d-none d-lg-block">
    <div class="bg-holder" style="background-image: url('./assets/images/bg-restablish.jpg')"></div>
  </div>
  <!--/ Left column -->

  <!-- Right column -->
  <div class="col-lg-6 bg-light-subtle py-5 d-flex align-items-center justify-content-center">
    <!-- Contenido -->
    <div class="d-flex align-items-center h-100 px-5">
      <div class="col-sm-6 col-lg-7 col-xl-6 w-100">
        <div class="mb-5">
          <div class="d-flex mb-2">
            <img class="logo-image" src="assets/images/logo.png" alt="logo">
          </div>
          <h1 class="fw-bold fs-2 mb-2">Restablezca su contraseña</h1>
          <p>Para restablecer su contraseña, ingrese la dirección de correo electrónico asociado con su cuenta.
            <br>
            Le enviaremos un código de verificación para continuar con el proceso de restablecimiento y pueda crear una nueva contraseña.
          </p>
        </div>
        <!-- Formulario -->
        <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="correo@ejemplo.com">
          </div>
          <div class="d-flex justify-content-end align-items-center" id="checkbox">
            <button id="btn1" class="btn btn-none me-3 text-primary fw-semibold" routerLink="/auth/login">Iniciar sesión</button>
            <button type="submit" class="btn btn-primary ms-2">Enviar</button>
          </div>
        </form>
        <!-- Formulario -->
      </div>
    </div>
  </div>
  <!--/ Contenido -->
</div>
<!--/ Right column -->
