input,
select,
textarea {
    background-color: #F8F9FA;
}

.error-message {
    color: #e42323;
    font-size: 0.9em;
}

/* Mantener el primer div estático en la parte superior */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/* Contenedor del contenido restante */
.content {
    padding-top: 60px;
    padding-bottom: 30px; 
}

.filepond--credits {
    opacity: 0;
}

label {
    padding-bottom: 5px;
}


.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px; 
  margin-top: 20px;
}

.image-item img {
  width: 100%; 
  height: auto;
  max-height: 150px; 
  object-fit: cover; 
}

.custom-rounded {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
