<main style="display: block; height: 100%; padding-right: 0%;">
    <div style="margin-left: 0%; padding-left: 42%; color: rgb(204, 165, 241); ">
      <img src="logo.png" alt="logo ">
    <div class="mt-4" >
      <span class="material-symbols-outlined" style="font-size: 12rem;">
        lock_reset
        </span>
    </div>
    </div>
    <div class="container-flex mb-5 " style="padding-left: 30.7%;">
        <div class="container mt-2" style="margin-left: 0%; ">
          <h1>Restablezca su contraseña</h1>
        </div>
      
        <div class="container-fluid mt-3 ps-4" style="width: 53%; margin-left: 0%; ">
          <label for="inputPassword5" class="form-label fw-bold ">Nueva contraseña</label>
          <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock" placeholder="correo@ejemplo.com">
        </div>
        
        <div class="container-fluid mt-3 ps-4" style="width: 53%; margin-left: 0%; " >
          <label for="inputPassword5" class="form-label fw-bold">Repetir contraseña</label>
          <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock" placeholder="correo@ejemplo.com">
        </div>
        
        <div class="container mt-4" style="margin-left: 0%; padding-left: 29%;">
          <button class="btn  me-md-2" type="button">Iniciar sesión</button>
          <button class="btn btn-primary" type="button">Cambiar</button>
        </div>
      </div>
  </main>
  

