<div class=" d-flex align-items-center justify-content-center">
  <!-- Contenido -->
  <div class="d-flex align-items-center ">

<div class="container-fluid " style="display: block; ">
  <!-- logos principales  -->
    
  <div class="mb-2 grid text-center" style="color: rgb(204, 165, 241); ">
    <!-- logo -->
    <div class="container mt-md-3">
      <img class="logo-image img-fluid w-25" src="assets/images/logo.png" alt="logo ">
    </div>
    <!-- logo -->

    <!-- simbolo del candado  -->
    <div class="mt-md-4" >
      <span class="material-symbols-outlined" style="font-size: 15rem; color: rgb(110, 204, 249);">
        lock_reset
      </span>
    </div>
    <!-- simbolo del candado  -->
  </div>
    <!-- logos principales -->

  <!-- formulario -->
  <div class="mb-3 " >
      <h1 class="mt-2 fw-bold mb-4" style="font-size: 3rem;">Restablezca su contraseña</h1>
      
    <div class="mb-3" >
      <label for="inputPassword5" class="form-label fw-bold ">Nueva contraseña</label>
      <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock" placeholder="ingrese su nueva contraseña">
    </div>
        
    <div class="mb-3"  >
      <label for="inputPassword5" class="form-label fw-bold">Repetir contraseña</label>
      <input type="password" id="inputPassword5" class="form-control bg-light" aria-describedby="passwordHelpBlock" placeholder="confirme su contraseña">
    </div>
  </div>
  <!-- formulario -->
         
  <!-- botones -->
    <div class="d-flex justify-content-end align-items-center">
      <button class="btn me-md-2 " type="button" style="color: rgb(67, 107, 228);font-weight: 700;">Iniciar sesión</button>
      <button class="btn btn-primary   align-items-center d-flex" type="button">Cambiar</button>
    </div>

    <!-- botones -->
</div>

  </div>
</div>


