body {
    font-family: "Poppins", sans-serif !important;
}

.form-control.gray,
.form-select.gray {
    background-color: #F8F9FA;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.image-item img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.logo-image {
    float: left;
    width: 170px;
    height: auto;
    padding-bottom: 10px;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1F89EA;
}

.dropdown-hover {
    position: relative;
}

.dropdown-hover .dropdown-menu {
    display: block;
    min-width: 325px;
    margin-top: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    position: absolute;
}

.dropdown-hover:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.upload-area {
    border-style: dashed;
    cursor: pointer;
    height: 200px;
}

.upload-area:hover {
    /*  background-color: #F8F9FA; */
    opacity: 50%;
}

.image-container {
    width: 320px;
    height: 280px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}