body {
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;

    /* Estilos para ajustes de accesibilidad */
    font-size: var(--text-size, 16px);
    /* Tamaño por defecto */
    font-weight: var(--font-weight, normal);
    /* Peso por defecto */
    color: var(--text-color, black);
    /* Color de texto por defecto */
}

.card,
.sidebar {
    background-color: var(--background-color);
    /* Fondo de contenedores */
    color: var(--text-color, black);
    /* Color de texto en contenedores */
}

.navbar,
.sidebar {
    background-color: var(--background-color, white);
    color: var(--text-color, black);
}

/*  Icono de basura a color blanco */
.bi-trash {
    color: white !important;
}

/* Negrita para el texto de los campos en formularios */
.form-label {
    font-weight: bold
}

/* Linea inferior en divs */
.border-bottom-dark-gray {
    border-bottom: 1.5px solid gray;
}

/* Cualquier botón rojo de la aplicación */
.btn-danger {
    background-color: #ff0019 !important;
    color: #ffffff !important;
}

.btn-dark {
    background-color: black !important;
    color: white !important;

}

.deletemodal {
    background-color: red;
    color: white;
}

.icon-red {
    margin: 10%;
    font-size: 25px;
    color: red;
}

.icon-center {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}