<div class="bg-light-subtle p-4 rounded-4 border">
  <form class="m-0" [formGroup]="contactRequestForm" (ngSubmit)="updateStatus()">
    <h5 class="mb-4">Información de la solicitud</h5>

    <div class="row mb-3">
      <div class="col">
        <label for="interestedPersonName" class="form-label">Nombre del interesado</label>
        <input type="text" class="form-control" id="interestedPersonName" formControlName="interestedPersonName">
      </div>

      <div class="col">
        <label for="phoneNumber" class="form-label">Número de teléfono</label>
        <input type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
      </div>

      <div class="col">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" id="email" class="form-control" formControlName="email">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="missingPersonName" class="form-label">Nombre de la persona desaparecida</label>
        <input type="text" id="missingPersonName" class="form-control" formControlName="missingPersonName">
      </div>

      <div class="col">
        <label for="relationship" class="form-label">Relación</label>
        <input type="text" id="relationship" class="form-control" formControlName="relationship">
      </div>

      <div class="col">
        <label for="requestDateTime" class="form-label">Fecha y hora de la solicitud</label>
        <input type="text" id="requestDateTime" class="form-control" formControlName="requestDateTime">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="status" class="form-label">Estado</label>
        <select id="status" class="form-select bg-body-tertiary" formControlName="status" [ngClass]="{
          'text-danger': contactRequestForm.get('status')?.value === 'NO_ENCONTRADO',
          'text-success': contactRequestForm.get('status')?.value === 'ENCONTRADO',
          'text-warning': contactRequestForm.get('status')?.value === 'EN_REVISION',
          'text-primary': contactRequestForm.get('status')?.value === 'NUEVA'
        }">>
          @for (option of statusOptions; track $index) {
          <option [value]="option.value" [ngClass]="{
                      'text-danger': option.value === 'NO_ENCONTRADO',
                      'text-success': option.value === 'ENCONTRADO',
                      'text-warning': option.value === 'EN_REVISION',
                      'text-primary': option.value === 'NUEVA'
                    }" [disabled]="option.value === 'NUEVA'">
            {{ option.label }}
          </option>
          }
        </select>
      </div>

      <div class="col">
        <label for="attendingUser" class="form-label">Usuario atendiendo</label>
        <input type="text" id="attendingUser" class="form-control" formControlName="attendingUser">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="message" class="form-label">Mensaje</label>
        <textarea id="message" class="form-control" rows="3" formControlName="message"></textarea>
      </div>
    </div>

    <!-- Botón de envío y mensaje de error -->
    <div class="d-flex flex-column align-items-end">
      <button type="submit" class="btn btn-primary mt-4" [disabled]="loading || !isFormModified">
        Actualizar solicitud de contacto
      </button>

      <!-- Mostrar mensaje de error -->
      @if (errorMessage) {
      <p class="small text-danger mt-2 mb-0">
        {{ errorMessage }}
      </p>
      }
    </div>
  </form>
</div>