.status-no-encontrada {
    color: goldenrod !important;
  }
  
  .status-nueva {
    color: green !important;
  }
  
  .status-encontrada {
    color: green !important;
  }
  
  .status-en-revision {
    color: rgb(245, 68, 45) !important;
  }
  
  input[disabled] {
    background-color: transparent;
    color: inherit; /* Mantiene el color del texto original */
    border: none; /* Elimina los bordes */
    box-shadow: none; /* Elimina cualquier sombra que pueda parecer un borde */
    text-align: start;
    padding: 0px;
  }
