<table id="patientsTable" class=" text-nowrap">
    <thead>
        <tr>
            <th hidden></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr class="align-content-around">
        <th hidden class="border-bottom-0">ID</th>
        <th class="border-bottom-0">Nombre</th>
        <th class="border-bottom-0">Sexo</th>
        <th class="border-bottom-0">Edad aparente</th>
        <th class="border-bottom-0">Fecha y hora de registro</th>
        <th class="border-bottom-0">Usuario que lo registró</th>
        <th class="border-bottom-0">Status</th>
        <th class="border-bottom-0">Señas particulares</th>
        <th class="border-bottom-0" style="width: 30px;">Notas breves</th>
    </tr>
    <tbody>
    </tbody>
</table>