table {
  table-layout: fixed; /* Fija el ancho de las columnas */
  width: 100%; /* Asegúrate de que la tabla ocupe todo el ancho disponible */
}



.fixed-action-column {
  position: sticky;
  right: 0; /* Mantiene la columna fija a la derecha */
  background: white; /* Color de fondo para la columna fija */
  z-index: 1; /* Asegúrate de que esté sobre otros elementos */
}

/* Opcional: Agregar un borde a la columna fija */
.fixed-action-column {
  border-left: 1px solid #ffffff; /* O el color que prefieras */
}
