<table id="patientsTable">
    <thead>
        <tr class="align-content-around">
            <th>Id</th>
            <th>Nombre completo</th>
            <th>Sexo</th>
            <th>Edad aparente</th>
            <th>Fecha y hora de registro</th>
            <th>Usuario que lo registró</th>
            <th>Status</th>
            <th>Descripción</th>
            <th>Más detalles</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tbody>
</table>